<div class="list-cover">
  <%= cl_image_tag @list.cover.key, height: 300, alt: "Image of #{@list.cover.name}" %>
  <div class="cover-text">
    <h1><%= @list.name %></h1>
  </div>
  <button type="button" class="btn btn-primary badge-top-right disabled">
    Bookmarks <span class="badge text-bg-primary"><%= @list.bookmarks.count %></span>
  </button>
</div>
<div class="container">
  <h4>Bookmarks from <%= @list.name %> list</h4>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="bookmarks-grid">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-movie">
            <img src="<%= bookmark.movie.poster_url %>" alt="Movie poster">
            <div class="card-movie-content">
              <p class="movie-title"><%= bookmark.movie.title %><span class="movie-rating"> • <%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></span></p>
              <p class="movie-overview"><%= bookmark.movie.overview %></p>
              <div class="flex-movie-footer">
                <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
                <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4 ps-4">
      <h4>New bookmark for <%= @list.name %> list</h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :movie_id, collection: Movie.all, prompt: 'Select movie', label: false, as: :select, input_html: {data: {controller: "tom-select"}} %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-6 pe-3">
      <h4>Reviews</h4>
      <div class="mt-4">
        <% @list.reviews.each do |review| %>
          <% @rating_stars = ""
          review.rating.times do
            @rating_stars << '<i class="fa-solid fa-star"></i>'
          end %>
          <p><%= sanitize @rating_stars %> <span><%= review.created_at %></span></p>
          <p><%= review.comment %></p>
          <hr>
        <% end %>
      </div>
    </div>
    <div class="col-6 ps-3">
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate this list", input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
