<div class="list-cover">
  <img src="<%= @list.url_picture %>" alt="List poster" style="height: 300;">
  <div class="cover-text">
    <h1><%= @list.name %></h1>
  </div>
  <button type="button" class="btn btn-primary badge-top-right disabled">
    Bookmarks <span class="badge text-bg-primary"><%= @list.bookmarks.count %></span>
  </button>
</div>
<div class="container">
  <h4>Bookmarks from <%= @list.name %> list</h4>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="bookmarks-grid">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-movie">
            <img src="<%= bookmark.movie.poster_url %>" alt="Movie poster">
            <div class="card-movie-content">
              <p class="movie-title"><%= bookmark.movie.title %><span class="movie-rating"> • <%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></span></p>
              <p class="movie-overview"><%= bookmark.movie.overview %></p>
              <div class="flex-movie-footer">
                <p><i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
                <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-4 ps-4">
      <h2>New bookmark for <%= @list.name %> list</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :movie_id, collection: Movie.all, prompt: 'Select movie', label: false, as: :select, input_html: {data: {controller: "tom-select"}} %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-6">
      <h2>Reviews</h2>
      <% @list.reviews.each do |review| %>
        <p><%= review.comment %><span> • <%= review.rating %> <i class="fa-solid fa-star"></i></span></p>
      <% end %>
    </div>
    <div class="col-6">
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
